.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 82px 170px;
}

.project-format {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease;
}

.slide-in-left {
  opacity: 1;
  transform: translateX(0);
  animation: slideLeft 0.8s ease forwards;
}

.slide-in-right {
  opacity: 1;
  transform: translateX(0);
  animation: slideRight 0.8s ease forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-title {
  position: relative;
}

.project-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.project-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.project-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}

.project-container {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
  align-items: top;
}

.project-container h3 {
  font-size: 28px;
  font-weight: 800;
}

.project-container h2 {
  margin-top: 1em;
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(257deg, #00FFB2 50.41%, #0061FF 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-format p {
  color: white;
  font-size: 24px;
  line-height: 40px;

}

.project-readmore {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}

.project-readmore p {
  
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;

background: linear-gradient(257deg, #00FFB2 50.41%, #0061FF 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
  animation: gradientMove 2s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.project-format:hover {
  transform: scale(1.05);
  border: 2px solid rgb(0, 251, 255);
  background-image: linear-gradient(45deg, #14000c, #00161f);
  transition: 0.4s;
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
    /* single column on small screens */

  }
  .project :hover .project-format {

    transform: none;
  }

  .project-format {
    padding: 70px;
    /* adjust padding for smaller screens */
  }
}