.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 170px;
}
.about {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.about-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.about-visible .fade-up {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.2s;
}
.delay-2 {
  transition-delay: 0.4s;
}
.delay-3 {
  transition-delay: 0.6s;
}
.delay-4 {
  transition-delay: 0.8s;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 5px;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}*/

.about-sections {
    display: flex;
    gap: 80px;
    margin-top: 10px;
     gap: 80px;
    
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 10px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4em;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 170px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {

    border: none;
    outline: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(270deg, #00FFB2 -5.08%, #0061FF 106.28%);
}

.about-achievements {
    display: flex;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 80px;
    justify-content: space-around;
    gap: 90px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #00FFB2 50.41%, #0061FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}

@media (max-width: 768px) {
    .about {
        margin: 20px;
    }

    .about-title h1 {
        font-size: 50px;
    }

    .about-sections {
        flex-direction: column;
        align-items: center;

    }

    .about-right-section {
        width: 100%;

    }

    .about-para {
        line-height: 32px;
        font-size: 18px;
        text-align: center;
    }
    .about-skills p{
        font-size: 18px;
        text-align: center;
    }
    .about-skills hr{
       padding-left:2px;
        margin-left:2px;
        height: 6px;
        text-align: center;
    }

   

    .about-skills {
        width: 100%;
        text-align: center;

    }

    .about-achievements {
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}