.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 20px 170px;

}
.navmenu{
    display:flex;
    list-style: none;
    align-items:center;
    gap: 60px;
    font-size: 20px;
    margin-left: 300px;
    margin-right:20px;
}

.nav-connect{
    padding:20px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(270deg, #00FFB2 0.36%, #0061FF 102.06%);
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.anchorlink{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.toggle-btn {
    display: none; /* hidden by default */
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .toggle-btn {
        display: block; /* visible only on small screens */
         position: absolute;
        top: 15px;
        right: 20px;
    }

    .navmenu {
        position: absolute;
        top: 60px;
        right: 0;
        background: #161513c2;
        width:100%;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        margin-right: 10px;
        display: none; /* hidden by default on small screens */
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .navmenu.open {
        display: flex; /* show when toggled */
         margin-right: 10px;
    }

    .nav-connect {
        display: none; /* hide connect button on small screens */
    }
}